.chart {
  shape-rendering: crispEdges;
}

.mini text {
  font: 12px sans-serif;	
  fill: white;
  font-weight: bold;
}

.miniItem0 {
  fill: #18515E;
  stroke-width: 6;
  color: white !important;
}

.miniItem0 .disabled {
  fill: darkgray;
}

.miniItem0 .future {
  opacity: 0.5;
}
