.chart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
}

.timeline text {
  font: 12px sans-serif;
  font-weight: 400;
}

.miniItem0 {
  fill: #18515E;
  stroke-width: 6;
}

.miniItem0 .disabled {
  fill: darkgray;
}

.miniItem0 .future {
  opacity: 0.5;
}