.App {
  text-align: center;
  height: 100vh;
}

.center-content {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
